.buttonWrapper {
  width: 100%;

}
.button {
  max-width: 160px;
  width: 100%;
  height: 50px;
  background-color: var(--c_peru);
  border: none;
}

.buttonText {
  font-family: var(--font_inter);
  font-size: 20px;
  color: var(--c_white);
  font-weight: 500;
}
