.productCard {
  max-height: 650px;
  height: 100%;
  max-width: 350px;
  width: 100%;
  margin-bottom: 40px;
  padding: 5px;
}

.imageWrapper {
  width: 100%;
  max-height: 400px;
  height: 100%;
  overflow: hidden;
}

.images {
  width: 100%;
}

.descriptionWrapper {
  width: 100%;
}

.descriptionTitle {
  font-family: var(--font_inter);
  font-size: 30px;
  text-align: center;
  color: var(--c_lightLightGray);
}

.description {
  display: block;
  height: 80px;
  color: var(--c_lightLightGray);
  padding: 10px;
}

.priceButtonWrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--c_darkGray);
}

.priceWrapper {
  max-width: 150px;
  width: 100%;
  height: 50px;
  background-color: var(--c_black);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

.price {
  font-family: var(--font_inter);
  font-size: 30px;
  color: var(--c_lightLightGray);
  font-weight: 700;
}
