@import "../../App.css";

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--c_peru);
  padding: 10px;
  position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header .basket {
  position: absolute;
  top: 100px;
  right: 0;
  width: 400px;
  height: 100px;
  background-color: var(--c_lightGray);
}
.basketIcon {
  font-size: 40px;
  color: var(--c_lightGray);
  cursor: pointer;
}
header .basketIcon:hover,header .basketIcon.active {
  color:var(--c_white);
}




.schedule {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--c_white);
}
.scheduleText {
  font-family: var(--font_inter);
  font-size: 20px;
}

.workNumber {
  font-size: 30px;
  margin: 0 auto;
}
