.textBlock {
  max-width: 588px;
  width: 100%;
}
.title {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

.text {
  display: block;
  padding: 40px;
  font-size: 22px;
  line-height: 30px;
  font-family: var(--font_inter);
  color: var(--c_lightLightGray);
  text-align: center;
}