@import "normalize";

:root {
  /* fonts */
  --font_inter: "Inter", sans-serif;
  --font_roboto: "Roboto", sans-serif;

  /* colors */
  --c_black: #080808;
  --c_white: #fffff0;
  --c_peru: #cd853f;
  --c_darkGray: #282828;
  --c_lightGray: #484848;
  --c_lightLightGray: #909090;
}

html {
  background-color: var(--c_black);
  color: var(--c_white);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
